body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}



.field-validation-error{
    color:red;
}

.input-validation-error{
    border:2px, solid;
    border-color:red;
}

.validation-error-message{
  padding: 5px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  border-radius: 4px;
  color:red;
}

.validation-warning{
  padding: 5px;
  margin-bottom: 0px;
  border: 1px solid transparent;
  border-radius: 4px;
  color:orange;
}
   

/*#region Formulario Alta Candidato */

.clear{
    clear:left;
    padding:5px;
}

fieldset{
    margin:15px;
}
.selectPlaceHolder{
    color:#d0cdcd;
    display:none;
    
}
.clickable {
    cursor: pointer;
} 


.selectPlaceholder{
   color:darkgray;
}

.checkboxLabel{
    margin-right: 2cm;
    float:none;
}

