@charset "utf-8";
/* CSS Document */
html,body{
	height:auto;
	min-height:100%;
	font-family: 'Roboto', sans-serif;
}
body{
	margin:0;
	padding:0;
	overflow-x:hidden;
}
img{
	max-width:100%;
}
.color-white {
	color:#fff;
}
.color-blue {
	color: #5184ca;
}
.color-grey {
	color: #696a6b;
}
.color-yellow {
	color: #e0b609;
}
.font-bold {
	font-weight: 700;
}
.text-underline {
	text-decoration: underline;
}
.margin-top-30x {
	margin-top:30px;
}
/* top */
.social-bar {
	height: 40px;
	background:#1d437c; 
	color: #fff;
	
}
.social-bar .border-left {
	border-left: 2px solid #29508d;
}
.social-bar .btn-top {
	height: 40px;
	width: 55px;
	text-align: center;
	line-height: 40px;
	position: relative;
}
.btn-top img {
	margin-top: 5px;
	display: inline-block;
}
.btn-top img.search {
	margin-top: 10px;
}
.circles-notify {
	position: absolute;
    right: 5px;
    top: 8px;
    width: 8px;
    text-align: center;
}
.circle-white, .circle-green {
	width: 6px;
	height: 6px;
	border:1px solid #fff;
	border-radius: 3px;
	margin-bottom: 3px;
}
.circle-green {
	background: #00d781;
}
/* header */
.header {
	height: 65px;
	width: 100%;
	background:  #23559a;
}
#nav-icon {
    cursor: pointer;
    width: 100px;
    height: 65px;
    background: #edc930;
    border: none;
    position: relative;
}
.nav-icon {
    width: 100%;
    height: 30px;
    position: relative;
    margin-right: 15px;
    padding-top: 3px;
}
.nav-icon span {
    display: block;
    height: 5px;
    width: 35px;
    background: #23559a;
    margin: 0 auto;
    margin-bottom: 5px;
}
.logo {
	margin-top: 10px;
	margin-left: 10px;
}
.picture-profile {
	position: absolute;
    right: 20px;
    top: 10px;
}
.name-profile {
	position: absolute;
    right: 80px;
    top: 20px;
}
/* menu lateral */
.menu-lateral {
	width: 100px;
	height: calc(100vh - 105px);
	top: 105px;
	left:0px;
	position: fixed;
	background: #23559a;
	z-index: 1;
}
.btn-principal {
	height: auto;
	margin-top: 1px;
	margin-bottom: 2px;
	color: #fff;
	padding: 7px 0px;
	font-size: 14px;
	background: #1d437c;
}
.btn-principal.active {
	background: #edc930;
	color: #23559a;
}
.btn-principal img, .btn-bottom img {
    margin: 0 auto;
    display: block; 
}
.btn-lateral {
	text-align: center;
	color: #fff;
	font-size: 12px;
	line-height: 14px;
	font-weight: 700;
	padding: 5px 5px;
	width: 100px;
}
.btn-lateral.active {
	width: 180px;
	background: #edc930;
	color: #23559a;
	padding: 10px 5px;
}
.menu-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.btn-bottom {
	text-align: center;
	color: #fff;
	font-size: 12px;
	line-height: 14px;
	padding-bottom: 10px;
}
.btn-bottom img { 
	margin-bottom: 10px;
	width: 35px;
}
/*contenido*/
.contenido {
	right: 0px;
	top: 105px;
	height: calc(100vh - 105px);
	overflow-y: scroll;
}
.general-information-container, .personal-information-container, .address-information-container, 
.identification-information-container {
	border-right: 1px solid #d9e3f0;
	border-bottom: 1px solid #d9e3f0;
}
.social-information-container {
	border-right: 1px solid #d9e3f0;
}
.general-information, .personal-information, .address-information, .identification-information, .social-information {
	max-width: 650px;
	margin: 0 auto;
	padding: 15px;
	position: relative;
	font-size: 15px;
}
.label-data {
	padding: 3px 0px;
}
.label-data span {
	color: #d63333;
}
.title {
	font-size: 18px;
}
.general-information-photo {
	width: 160px;
	height: 160px;
	border-radius: 80px; 
	margin-left: 80px;
	margin-bottom: 10px;
	
}
.btn-edit {
	position: absolute;
	right: 0px;
	top: 0px;
}
.profile-percent {
	padding-top: 10px;
	
}
.profile-percent img{ 
	display: inherit;
	margin: 0 auto;
	margin-bottom: 10px;
}
.link-blue {
	font-size: 14px;
	list-style: none;
	padding: 4px 0px;
	color: #1892f7;
}
.profile-percent ul {
	padding-left: 0px;
}
/* menu mobile */
.social-bar-mobile {
	border-top: 2px solid #29508d;
	border-bottom: 2px solid #29508d;
	color: #fff;
	background: #1d437c;
}
.social-bar-mobile .btn-top {
	height: 40px;
	width: 55px;
	text-align: center;
	line-height: 40px;
	position: relative;
	display: inline-block;
	vertical-align: bottom;
}
.social-bar-mobile .btn-top.border-left {
	border-left: 2px solid #29508d
}
.info-user {
	position: relative;
	height: 65px;
}
/* forms */
.input {
	border-radius: 5px;
	height: 30px;
	color: #696a6b;
	padding: 5px;
	border:1px solid #c7cecf;
	width: 100%;
	margin-bottom: 8px;
}
.input.small {
	width: 50px;
}
.checkbox {
	background: #fff;
	height: 20px;
	width: 20px;
	border:1px solid #c7cecf;
	-webkit-appearance: none;
	border-radius: 3px;
}
.checkbox:checked {
	background: #23559a;
	border: 4px double #fff;
}
.calendar {
	background: url(../assets/images/icon-calendar.png) no-repeat;
	background-position: 97% 2px;
}
.btn-red, .btn-green {
	height: 40px;
	line-height: 30px;
	border-radius: 8px;
	color: #fff;
	padding: 5px;
	display: inline-block;
	width: 120px;
	text-align: center
}
.btn-red {
	background: #d63333;
}
.btn-green {
	background: #31d63c;
}
.text-alert {
	color: #ef0e0e;
}
.legal {
	font-size: 12px;
	font-style: italic;
	padding-left: 15px;
	margin: 10px 0px;
}
/*popup upload*/
.mask {
	width: 100%;
	height: 100%;
	background:rgba(0,0,0,.25);
	position: absolute;
	top: 0;
	z-index: 2;
	left: 0;
}
.upload {
	width: 500px;
	height: 300px;
	background: #fff;
	position: absolute;
	top: calc(50% - 150px);
	left: calc(50% - 250px);
	z-index: 3;
	box-sizing: border-box;
	padding: 30px 15px;
}
.link-grey {
	color: #d0d0d0;
	text-decoration: underline;
	cursor: pointer;
	font-size: 14px;
	margin-top: 10px;
}
.upload-area {
	border: 2px dashed #d0d0d0;
	width: 100%;
	height: 150px;
	margin-top: 30px;
	position: relative;
}
.upload-area img {
	margin-top: 30px;
}
